h1.title {
    width:400px;
    height:100px;
    background-color: greenyellow;
    animation-name: blinking-square;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes blinking-square {
        
        0% {background-color: red;}
        25% {background-color: yellow}
        50% {background-color: blue}
        100% {background-color: green}
         }


         :root {
            overflow: hidden;
            background-color: lightblue;
            display: flex;
            justify-content: center;
          }
          
          .sun {
            background-color: yellow;
            border-radius: 50%;
            height: 100vh;
            aspect-ratio: 1 / 1;
            animation: 4s linear 0s infinite alternate animating-multiple-properties;
          }
          
          /* it is possible to animate multiple properties in a single animation */
          @keyframes animating-multiple-properties {
            from {
              transform: translateY(110vh);
              background-color: red;
              filter: brightness(75%);
            }
            to {
              transform: translateY(0);
              background-color: orange;
              /* unset properties i.e. 'filter' will revert to default values */
            }
          }
    