.container 
{
position: relative;
}

.container > img {
  max-width: 200px;
  float: left;

}

.container > p {
width: 300px;
float: left;

}

div.first {
  width: 200px;
  height: 100px;
  background-color: red;
  float: left
}
div.second {

  width: 100px;
  height: 200px;
  background-color: green;
  folat: left
  

}